<header>
    <nav class="deep-purple">
        <div class="nav-wrapper container">
            <div class="col s12">
                <a ui-sref="dashboard" class="breadcrumb">{{'TASK.BREADCRUMBS.DASHBOARD'|translate}}</a>
                <a ui-sref="project({id: task.project.id})"
                   class="breadcrumb">{{'TASK.BREADCRUMBS.TASKS'|translate}}</a>
                <a class="breadcrumb">{{task.name}}</a>
            </div>
        </div>
    </nav>
</header>
<main class="grey lighten-4">
    <div class="container">
        <h1>{{task.name}}</h1>
        <section>
            <div class="row">
                <div class="col s5">
                    <div class="card z-depth-2">
                        <div class="card-content text-primary">
                            <span class="card-title">Details</span>
                            <table class="responsive-table centered highlighted stripped">
                                <tbody>
                                <tr>
                                    <td>Assignee</td>
                                    <td>{{task.getAssigneeFullName()}}</td>
                                </tr>
                                <tr>
                                    <td>Reporter</td>
                                    <td>{{task.getReporterFullName()}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <section>
                                <div class="row">
                                    <div class="col s8 offset-s2">
                                        <div input-field>
                                            <select ng-model="task.status" material-select watch>
                                                <option ng-repeat="status in task.statuses">{{status}}</option>
                                            </select>
                                            <label>Change Status</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="task.authService.hasRole('MANAGER')">
                                    <div class="col s8 offset-s2">
                                        <div input-field>
                                            <select ng-model="task.newReporter" material-select watch>
                                                <option class="truncate"
                                                        ng-repeat="developer in task.project.developers"
                                                        value="{{developer.id}}"
                                                        ng-class="{'selected': developer.id == task.reporter.id}">
                                                    {{developer.firstName + ' ' +
                                                    developer.lastName}}
                                                </option>
                                            </select>
                                            <label>Change Reporter</label>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col s7">
                    <div class="card z-depth-2">
                        <div class="card-content">
                            <div class="card-title">Description</div>
                            {{task.description}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>{{'TASK.COMMENTS.TITLE'|translate}}</h2>

            <div ng-show="task.comments.length == 0" class="center-align flow-text">
                {{'TASK.COMMENTS.NO_COMMENTS'|translate}}
            </div>
            <div ng-repeat="comment in task.comments">
                <comment comment-id="{{comment.id}}"></comment>
            </div>
        </section>

        <section>
            <h1>{{'TASK.ADD_COMMENT.TITLE' | translate}}</h1>
            <form novalidate name="commentForm" ng-submit="commentForm.$valid && task.addComment()">
                <div class="row">
                    <div class="col s8 offset-s2">
                        <div class="card-panel z-depth-2">
                            <div class="card-content">
                                <div input-field>
                                    <i class="material-icons prefix">description</i>
                                    <textarea id="description" name="newContent" ng-model="task.newComment"
                                              class="materialize-textarea"
                                              validation="min_len:30|max_len:300|required"></textarea>
                                    <label for="description">{{'TASK.ADD_COMMENT.COMMENT'|translate}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 offset-s7">
                        <button class="btn waves-effect waves-light right" type="submit">
                            {{ 'TASK.ADD_COMMENT.SUBMIT_BUTTON' | translate }}
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>
