<div class="container">
    <h1>{{'DASHBOARD.CREATE_PROJECT.TITLE' | translate}}</h1>
    <form novalidate name="projectForm" ng-submit="projectForm.$valid && creator.create()">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel z-depth-2">
                    <div class="card-content">
                        <div input-field>
                            <i class="medium material-icons prefix">work</i>
                            <input id="name" ng-model="creator.name" name="name" type="text"
                                   validation="alpha_dash_spaces|min_len:5|max_len:35|required">
                            <label for="name">{{'DASHBOARD.CREATE_PROJECT.PROJECT_FORM.NAME' | translate}}</label>
                        </div>
                        <div input-field>
                            <i class="material-icons prefix">description</i>
                            <textarea id="description" name="description" ng-model="creator.description"
                                      class="materialize-textarea"
                                      validation="min_len:30|max_len:300|required"></textarea>
                            <label for="description">{{'DASHBOARD.CREATE_PROJECT.PROJECT_FORM.DESCRIPTION' |
                                translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s7">
                <button class="btn waves-effect waves-light right" ng-class="{'disabled': creator.isCreating }"
                        type="submit">
                    {{ "DASHBOARD.CREATE_PROJECT.PROJECT_FORM.SUBMIT_BUTTON" | translate }}
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
