<header>
    <nav class="deep-purple">
        <div class="nav-wrapper container">
            <a ui-sref="home" class="brand-logo">{{"HEADER.TITLE" | translate}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a ui-sref="signup">{{'SIGNIN.HEADER.SIGN_UP'|translate}}</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="grey lighten-4">
        
    <div class="container">

        <h1 class="red-text">{{'SIGNIN.TITLE' | translate}}</h1>

        <form name="loginForm" ng-submit="loginForm.$valid && signin.login()" novalidate>

            <div class="row">

                <div class="card-panel z-depth-1 col s10 offset-s1">
                        
                    <div class="row">
                                            
                        <div input-field class="col s10 offset-s1">
                            <i class="material-icons prefix">email</i>
                                                    <input autocomplete="off" id="email"
                                                           placeholder="{{'SIGNIN.FORM.EMAIL.PLACEHOLDER' | translate}}"
                                                           type="email" ng-model="signin.user.username" name="email"
                                                           validation="email|remote:signin.isValidEmail(signin.user.username)|required">
                            <label for="email">{{'SIGNIN.FORM.EMAIL.LABEL' | translate}}</label>
                                                
                        </div>
                                        
                    </div>

                    <div class="row">
                                            
                        <div input-field class="col s10 offset-s1">
                            <i class="material-icons prefix">vpn_key</i>
                                                    <input autocomplete="off" id="password" minlength="6"
                                                           type="password"
                                                           validation="min_len:6|required" name="password"
                                                           friendly-name="Password"
                                                           ng-model="signin.user.password">
                            <label for="password">{{'SIGNIN.FORM.PASSWORD.LABEL' | translate}}</label>
                                                
                        </div>
                                        
                    </div>
                                                    
                </div>

            </div>

            <div class="row">
                                
                <div input-field class="col s3 offset-s8">
                                        
                    <button class="btn red waves-effect waves-light right" type="submit">
                        {{'SIGNIN.FORM.SUBMIT_BUTTON'|translate}}<i class="material-icons right">send</i>
                    </button>
                                        
                </div>
                                
            </div>

        </form>

    </div>

</main>

<footer class="page-footer deep-purple"></footer>
