<div class="footer-copyright">
    <div class="container">
        &copy; 2017 CodeX Task Tracker
        <a class="grey-text text-lighten-4 right" href="http://codex-soft.com/">CodeX-Soft</a>
    </div>
</div>
