<div class="row">
    <div class="col s12">
        <div class="card z-depth-2">
            <div class="card-content">
                <span class="card-title">Author: {{comment.getAuthorFullName()}}</span>
                <div class="flow-text">
                    Wrote: {{comment.content}}
                    <div ng-show="comment.inEditing" input-field>
                        <textarea ng-model="comment.newContent" class="materialize-textarea"></textarea>
                        <label>Comment</label>
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
                <a ng-show="comment.inEditing" ng-click="comment.save()">Save</a>
                <a ng-show="!comment.inEditing" ng-click="comment.edit()">Edit</a>
                <a ng-click="comment.delete()">Delete</a>
            </div>
        </div>
    </div>
</div>
