<header>
    <nav class="deep-purple">
        <div class="nav-wrapper container">
            <a ui-sref="home" class="brand-logo">{{"HEADER.TITLE" | translate}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a ui-sref="signin">{{'SIGNUP.HEADER.SIGN_IN'|translate}}</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="grey lighten-4">
        
    <div class="container">

        <h1 class="red-text">{{'SIGNUP.TITLE' | translate}}</h1>

        <form name="registrationForm" ng-submit="registrationForm.$valid && signup.register()" novalidate>

            <div class="row">

                <div class="card-panel z-depth-1 col s10 offset-s1">
                                
                    <div class="row">
                        <div input-field class="col s4 offset-s1">
                            <input autocomplete="off" placeholder="{{'SIGNUP.FORM.FIRST_NAME.PLACEHOLDER' | translate}}"
                                   id="firstName"
                                   name="firstName"
                                   type="text" ng-model="signup.user.firstName"
                                   validation="alpha|between_len:2,15|required">
                            <label for="firstName">{{'SIGNUP.FORM.FIRST_NAME.LABEL' | translate}}</label>          
                        </div>
                                      
                        <div input-field class="col s4 offset-s2">
                            <input autocomplete="off" placeholder="{{'SIGNUP.FORM.LAST_NAME.PLACEHOLDER' | translate}}"
                                   id="lastName"
                                   name="lastName"
                                   type="text" ng-model="signup.user.lastName"
                                   validation="alpha|between_len:2,15|required">
                            <label for="lastName">{{'SIGNUP.FORM.LAST_NAME.LABEL' | translate}}</label>
                                                
                        </div>
                                  
                    </div>
                                    
                    <div class="row">
                                            
                        <div input-field class="col s10 offset-s1">
                                                    <input autocomplete="off" id="password" minlength="6"
                                                           type="password"
                                                           validation="min_len:6|required" name="password"
                                                           friendly-name="Password"
                                                           ng-model="signup.user.password">
                            <label for="password">{{'SIGNUP.FORM.PASSWORD.LABEL' | translate}}</label>
                                                
                        </div>
                                        
                    </div>
                                    
                    <div class="row">
                                            
                        <div input-field class="col s10 offset-s1">
                                                    <input autocomplete="off" id="passwordConfirm" minlength="6"
                                                           name="passwordConfirm"
                                                           type="password"
                                                           validation="match:signup.user.password,Password|required"
                                                           ng-model="passwordConfirm"> <label for="passwordConfirm">{{'SIGNUP.FORM.PASSWORD_CONFIRM.LABEL'|translate}}</label>
                                                
                        </div>
                                        
                    </div>
                                    
                    <div class="row">
                                            
                        <div input-field class="col s10 offset-s1">
                                                    <input autocomplete="off" id="email"
                                                           placeholder="{{'SIGNUP.FORM.EMAIL.PLACEHOLDER' | translate}}"
                                                           type="email" ng-model="signup.user.email" name="email"
                                                           validation="email|remote:signup.isValidEmail(signup.user.email)|required">
                            <label for="email">{{'SIGNUP.FORM.EMAIL.LABEL' | translate}}</label>
                                                
                        </div>
                                        
                    </div>

                    <div class="row">
                        <div class="switch col s4 offset-s4">
                            <label>
                                Developer
                                <input autocomplete="off" type="checkbox" ng-init="signup.user.isManager = false"
                                       ng-model="signup.user.isManager">
                                <span class="lever"></span>
                                Manager
                            </label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                                
                <div input-field class="col s3 offset-s8">
                                        
                    <button class="btn red waves-effect waves-light right"
                            ng-class="{'disabled': signup.isRegistrating}" type="submit">
                        {{'SIGNUP.FORM.SUBMIT_BUTTON' | translate}}<i class="material-icons right">send</i>
                                            
                    </button>
                                        
                </div>
                                
            </div>

        </form>

    </div>

</main>

<footer class="page-footer deep-purple"></footer>
