<nav class="deep-purple" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">{{'HOME.HEADER.TITLE'|translate}}</a>
        <ul ng-show="!main.authService.isLoggedIn()" class="right hide-on-med-and-down">
            <li><a ui-sref="signup">{{'HOME.HEADER.SIGN_UP'|translate}}</a></li>
            <li><a ui-sref="signin">{{'HOME.HEADER.SIGN_IN'|translate}}</a></li>
        </ul>
        <ul ng-show="main.authService.isLoggedIn()" class="right hide-on-med-and-down">
            <li ui-sref="dashboard"><a>Dashboard</a></li>
            <li><a ui-sref="signin">Log out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center red-text text-lighten-2">{{'HOME.TITLE'|translate}}</h1>
            <div class="row center">
                <h5 class="header col s12 white-text light">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            </div>
            <div class="row center">
                <a ui-sref="signup" class="btn-large waves-effect waves-light red lighten-1">Get Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div parallax><img src="assets/images/home/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque dolor,
                        vulputate quis efficitur vitae, tincidunt at mi. Nulla bibendum odio turpis, sit amet lacinia
                        sem suscipit ac. Nam aliquam tristique nunc vel vulputate. Nullam pulvinar tempus leo, eu
                        placerat nulla gravida a.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque dolor,
                        vulputate quis efficitur vitae, tincidunt at mi. Nulla bibendum odio turpis, sit amet lacinia
                        sem suscipit ac. Nam aliquam tristique nunc vel vulputate. Nullam pulvinar tempus leo, eu
                        placerat nulla gravida a.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque dolor,
                        vulputate quis efficitur vitae, tincidunt at mi. Nulla bibendum odio turpis, sit amet lacinia
                        sem suscipit ac. Nam aliquam tristique nunc vel vulputate. Nullam pulvinar tempus leo, eu
                        placerat nulla gravida a.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text light">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.</h5>
            </div>
        </div>
    </div>
    <div parallax><img src="assets/images/home/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
                    id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
                    ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem
                    neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu
                    mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum
                    ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            </div>
        </div>

    </div>
</div>

<footer class="page-footer deep-purple"></footer>
