<div ng-show="('dashboard' | isState) && dashboard.isManager()" class="fixed-action-btn active create-project-button">
    <a ui-sref=".createProject" class="btn-floating btn-large waves-effect waves-light red"
       tooltipped data-position="left" data-delay="550"
       data-tooltip="{{'DASHBOARD.NEW_PROJECT_BUTTON.TOOLTIP'|translate}}"><i class="material-icons">add</i></a>
</div>

<header>
    <nav class="deep-purple">
        <div class="nav-wrapper container">
            <a ui-sref="home" class="brand-logo">{{'DASHBOARD.HEADER.TITLE'|translate}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li ui-sref="dashboard" ng-class="{ 'active': ('dashboard' | isState)}"><a>Dashboard</a></li>
                <li><a ui-sref="signin">Log out</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <h1 class="red-text">{{'DASHBOARD.TITLE'|translate}}</h1>
        <section ng-show="dashboard.isManager()">
            <h3>{{'DASHBOARD.MY_PROJECTS.TITLE'|translate}}</h3>
            <div class="row">
                <div class="col s12">
                    <div ng-show="dashboard.supervisedProjectsPage.totalElements == 0" class="center-align flow-text">
                        {{"DASHBOARD.MY_PROJECTS.NO_CREATED_PROJECTS"|translate}}
                    </div>
                    <div ng-show="dashboard.supervisedProjectsPage.totalElements > 0">
                        <ul class="collection z-depth-2">
                            <li ng-repeat="project in dashboard.supervisedProjects" class="collection-item avatar">
                                <span class="title">{{project.name}}</span>
                                <span class="truncate">{{project.description}}</span>
                                <a ui-sref="project({id: dashboard.getProjectId(project)})"
                                   class="secondary-content"><i class="material-icons"
                                                                tooltipped data-position="right" data-delay="550"
                                                                data-tooltip="{{'DASHBOARD.OPEN_PROJECT_PAGE'|translate}}">send</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section ng-show="dashboard.isDeveloper()">
            <h3>{{'DASHBOARD.PARTICIPATE_PROJECTS.TITLE'|translate}}</h3>
            <div class="row">
                <div class="col s12">
                    <div ng-show="dashboard.projects.length == 0" class="center-align flow-text">
                        {{"DASHBOARD.PARTICIPATE_PROJECTS.NO_CREATED_PROJECTS"|translate}}
                    </div>
                    <div ng-show="dashboard.projects.length > 0">
                        <ul class="collection z-depth-2">
                            <li ng-repeat="project in dashboard.projects" class="collection-item avatar">
                                <span class="title">{{project.name}}</span>
                                <span class="truncate">{{project.description}}</span>
                                <a ui-sref="project({id: dashboard.getProjectId(project)})"
                                   class="secondary-content"><i class="material-icons"
                                                                tooltipped data-position="right" data-delay="550"
                                                                data-tooltip="{{'DASHBOARD.OPEN_PROJECT_PAGE'|translate}}">send</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div ui-view></div>
</main>

