<header>
    <nav class="deep-purple">
        <div class="nav-wrapper container">
            <div class="col s12">
                <a ui-sref="dashboard" class="breadcrumb">{{'PROJECT.BREADCRUMBS.DASHBOARD'|translate}}</a>
                <a class="breadcrumb">{{'PROJECT.BREADCRUMBS.PROJECTS'|translate}}</a>
                <a class="breadcrumb">{{project.name}}</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h1>{{project.name}}</h1>
        <section>
            <div class="row">
                <div class="col s5">
                    <div class="card z-depth-2">
                        <div class="card-content text-primary">
                            <span class="card-title">{{'PROJECT.DETAILS.TITLE'|translate}}</span>
                            <table class="responsive-table centered highlighted stripped">
                                <tbody>
                                <tr>
                                    <td>{{'PROJECT.DETAILS.MANAGER'|translate}}</td>
                                    <td>{{project.getManagerFullName()}}</td>
                                </tr>
                                <tr>
                                    <td>{{'PROJECT.DETAILS.TASKS'|translate}}</td>
                                    <td>{{project.tasksCount}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col s7">
                    <div class="card z-depth-2">
                        <div class="card-content">
                            <div class="card-title">{{'PROJECT.DETAILS.DESCRIPTION'|translate}}</div>
                            {{project.description}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3>{{'PROJECT.TASKS.TITLE'|translate}}</h3>
            <div class="switch">
                <label>
                    All
                    <input ng-init="project.showAllTasks = false" ng-model="project.showAllTasks"
                           ng-change="project.getTasks()" type="checkbox">
                    <span class="lever"></span>
                    Only assigned to me
                </label>
            </div>
            <div class="row">
                <div class="col s12">
                    <div ng-show="project.tasks.length == 0" class="center-align flow-text">
                        <span ng-show="!project.showAllTasks">{{'PROJECT.TASKS.NO_TASKS'|translate}}</span>
                        <span
                            ng-show="project.showAllTasks">{{'PROJECT.TASKS.NO_TASKS_ASSIGNED_TO_YOU'|translate}}</span>
                    </div>
                    <div ng-show="project.tasks.length > 0">
                        <ul class="collection z-depth-2">
                            <li ng-repeat="task in project.tasks" class="collection-item"
                                tooltipped data-position="top" data-delay="550"
                                data-tooltip="{{'PROJECT.TASKS.TOOLTIP'|translate}}">
                                <a ui-sref="task({id: project.getTaskId(task)})" class="black-text">
                                    <span class="new badge" ng-class="project.getTaskBadgeColor(task.status)"
                                          data-badge-caption="{{task.status}}"></span>
                                    <span class="title truncate">{{task.name}} - {{task.description}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3>{{'PROJECT.DEVELOPERS.TITLE'|translate}}</h3>
            <div class="row">
                <div class="col s12">
                    <div ng-show="project.developers.length == 0" class="center-align flow-text">
                        {{'PROJECT.DEVELOPERS.NO_DEVELOPERS'|translate}}
                    </div>
                    <div ng-show="project.developers.length > 0">
                        <ul class="collection z-depth-2">
                            <li ng-repeat="developer in project.developers" class="collection-item">
                                <span class="title truncate">{{developer.firstName}} {{developer.lastName}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-show="project.showAddDeveloperForm" class="row">
                <div class="col s7 offset-s1">
                    <div class="row">
                        <h5>{{'PROJECT.ADD_DEVELOPER.TITLE'|translate}}</h5>
                    </div>
                    <div class="row">
                        <form name="new-developer" ng-submit="project.addDeveloper()">
                            <div class="col s6">
                                <auto-complete-input auto-data="project.suggestedDevelopersNames"
                                                     ac-title="'Choose developer'"
                                                     input-model="project.input"></auto-complete-input>
                            </div>
                            <div class="col s6">
                                <button type="submit" class="waves-effect waves-light btn">
                                    {{'PROJECT.ADD_DEVELOPER.SUBMIT_BUTTON'|translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div ui-view></div>

        <section ng-show="project.authService.hasRole('MANAGER')">
            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-large red">
                    <i class="material-icons">menu</i>
                </a>
                <ul>
                    <li><a tooltipped class="btn-floating red" data-position="top" data-delay="150"
                           data-tooltip="{{'PROJECT.FAB.ADD_TASK_TOOLTIP'|translate}}" ui-sref=".createTask"><i
                        class="material-icons">note_add</i></a></li>
                    <li><a tooltipped class="btn-floating yellow darken-1" data-position="top" data-delay="150"
                           data-tooltip="{{'PROJECT.FAB.ADD_DEVELOPER_TOOLTIP'|translate}}"
                           ng-click="project.showAddDeveloperForm = true"><i
                        class="material-icons">supervisor_account</i></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>
